In [1]:
import pandas as pd

In [13]:
raw_df = pd.read_csv("../../Rm_C2_TC-5/X0_log2_transformed_log2FC/featab_simp_norm_annot_rm_TC-5_log2_wt_FC.csv")

In [23]:
raw_df.columns = ["MID"] + raw_df.columns[1:].tolist();raw_df[0:5]

,MID,C2_B6.1_Tfh_007,C2_B6.2_Tfh_008,C2_B6.4_Tfh_009,C2_B6.6_Tfh_010,C2_B6.7_Tfh_011,C2_B6.8_Tfh_012,C2_B6.1_Tn_001,C2_B6.2_Tn_002,C2_B6.4_Tn_003,...,C2_TC.3_Tn_015,C2_TC.4_Tn_016,TC_Tfh_geoMean,B6_Tfh_geoMean,TC_Tn_geoMean,B6_Tn_geoMean,log2FC_Tfh_TCvsB6,log2FC_Tn_TCvsB6,log2FC_TC_TfhvsTn,log2FC_B6_TfhvsTn
0,MID_1,6.977280,5.247928,6.459432,8.519636,5.643856,6.169925,6.169925,5.584963,6.507795,...,5.584963,5.247928,6.071085,6.585756,5.642135,5.785476,-0.514671,-0.143341,0.428950,0.800280
1,MID_2,9.044394,9.164907,9.100662,9.129283,8.977280,8.960002,8.266787,8.823367,8.247928,...,8.383704,7.523562,8.985365,9.082158,8.057292,8.500825,-0.096792,-0.443533,0.928074,0.581332
2,MID_3,12.651276,13.198599,12.424954,12.733863,12.388825,12.988862,12.310897,13.542185,12.146250,...,11.837234,11.752381,12.336974,12.273931,11.463601,12.186038,0.063043,-0.722437,0.873373,0.087893
3,MID_4,8.643856,5.392317,6.475733,8.475733,6.554589,8.581201,9.182394,9.216746,9.882643,...,10.043027,8.577429,7.728514,7.528493,8.829015,8.949506,0.200021,-0.120491,-1.100501,-1.421013
4,MID_5,8.900867,6.339850,7.734710,6.832890,8.055282,7.539159,9.317413,8.447083,8.573647,...,9.033423,7.971544,8.536367,7.655822,7.494173,7.909220,0.880545,-0.415047,1.042193,-0.253399

In [3]:
m_ttest_df = pd.read_csv("python_pairwise_t_test/merged_ttest_padj_on_annot.csv")
m_ttest_df[0:5]

,MID,ttest_pval_B6_TfhvsB6_Tn,ttest_tscore__B6_TfhvsB6_Tn,padj_lim_ttest_tscore__B6_TfhvsB6_Tn,ttest_pval_TC_TfhvsB6_Tfh,ttest_tscore__TC_TfhvsB6_Tfh,padj_lim_ttest_tscore__TC_TfhvsB6_Tfh,ttest_pval_TC_TfhvsTC_Tn,ttest_tscore__TC_TfhvsTC_Tn,padj_lim_ttest_tscore__TC_TfhvsTC_Tn,ttest_pval_TC_TnvsB6_Tn,ttest_tscore__TC_TnvsB6_Tn,padj_lim_ttest_tscore__TC_TnvsB6_Tn
0,MID_1,0.063975,1.989882,0.295884,0.322851,-1.024775,0.626801,0.422689,0.830101,0.732178,0.727430,-0.355615,0.897762
1,MID_2,0.000020,5.965206,0.000677,0.434671,-0.804297,0.689264,0.001268,4.183837,0.015636,0.033516,-2.356953,0.540476
2,MID_3,0.807468,0.247765,0.979257,0.840239,0.205370,0.938415,0.035496,2.368533,0.197003,0.105006,-1.733268,0.688933
3,MID_4,0.004719,-3.279514,0.065470,0.711210,0.377849,0.877159,0.073857,-1.958254,0.282695,0.794329,-0.265718,0.952426
4,MID_5,0.492319,-0.702736,0.904488,0.053748,2.105852,0.265386,0.045013,2.237334,0.226485,0.317488,-1.036619,0.764978

In [4]:
oneway_ftest_df = pd.read_csv("python_one_way_ANOVA/padj_on_all_ftest4_B6_TfhvsB6_TnvsTC_TfhvsTC_Tn.txt", sep = "\t")
oneway_ftest_df[0:5]

     MID  ftest_pval  ftest_fscore  padj_lim_ftest_fscore
0  MID_1    0.172408      1.787589               0.390557
1  MID_2    0.000001     17.340807               0.000033
2  MID_3    0.104487      2.249718               0.257734
3  MID_4    0.009272      4.648139               0.042884
4  MID_5    0.100929      2.281974               0.254617

In [14]:
twoway_ftest_df = pd.read_csv("python_two way_ANOVA_interaction/padj_on_annot_2wayAnova.csv")
twoway_ftest_df[0:5]

     MID  X2wayAnova_pval  padj_lim_X2wayAnova_pval
0  MID_1         0.568803                  0.929193
1  MID_2         0.131819                  0.772489
2  MID_3         0.140377                  0.772489
3  MID_4         0.649192                  0.929193
4  MID_5         0.033361                  0.568612

In [33]:
temp = pd.merge([raw_df,m_ttest_df],on = "MID")

TypeError: merge() missing 1 required positional argument: 'right'

In [37]:
temp = pd.merge(raw_df,m_ttest_df,on = "MID")
temp = pd.merge(temp,oneway_ftest_df,on = "MID")
ful_merged_df = pd.merge(temp,twoway_ftest_df,on = "MID")

In [38]:
ful_merged_df.columns

Index(['MID', 'C2_B6.1_Tfh_007', 'C2_B6.2_Tfh_008', 'C2_B6.4_Tfh_009',
       'C2_B6.6_Tfh_010', 'C2_B6.7_Tfh_011', 'C2_B6.8_Tfh_012',
       'C2_B6.1_Tn_001', 'C2_B6.2_Tn_002', 'C2_B6.4_Tn_003', 'C2_B6.6_Tn_004',
       'C2_B6.7_Tn_005', 'C2_B6.8_Tn_006', 'C1_B6.1_Tfh_004', 'C1_B6.1_Tn_001',
       'C1_B6.2_Tfh_005', 'C1_B6.2_Tn_002', 'C1_B6.3_Tfh_006',
       'C1_B6.3_Tn_003', 'C1_TC.1_Tfh_010', 'C1_TC.1_Tn_007',
       'C1_TC.2_Tfh_011', 'C1_TC.2_Tn_008', 'C1_TC.2_Tn_009',
       'C1_TC.3_Tfh_012', 'C2_TC.1_Tfh_018', 'C2_TC.2_Tfh_019',
       'C2_TC.3_Tfh_020', 'C2_TC.4_Tfh_021', 'C2_TC.1_Tn_013',
       'C2_TC.2_Tn_014', 'C2_TC.3_Tn_015', 'C2_TC.4_Tn_016', 'TC_Tfh_geoMean',
       'B6_Tfh_geoMean', 'TC_Tn_geoMean', 'B6_Tn_geoMean', 'log2FC_Tfh_TCvsB6',
       'log2FC_Tn_TCvsB6', 'log2FC_TC_TfhvsTn', 'log2FC_B6_TfhvsTn',
       'ttest_pval_B6_TfhvsB6_Tn', 'ttest_tscore__B6_TfhvsB6_Tn',
       'padj_lim_ttest_tscore__B6_TfhvsB6_Tn', 'ttest_pval_TC_TfhvsB6_Tfh',
       'ttest_tscore__TC_TfhvsB6_Tfh', 'padj_lim_ttest_tscore__TC_TfhvsB6_Tfh',
       'ttest_pval_TC_TfhvsTC_Tn', 'ttest_tscore__TC_TfhvsTC_Tn',
       'padj_lim_ttest_tscore__TC_TfhvsTC_Tn', 'ttest_pval_TC_TnvsB6_Tn',
       'ttest_tscore__TC_TnvsB6_Tn', 'padj_lim_ttest_tscore__TC_TnvsB6_Tn',
       'ftest_pval', 'ftest_fscore', 'padj_lim_ftest_fscore',
       'X2wayAnova_pval', 'padj_lim_X2wayAnova_pval'],
      dtype='object')

In [39]:
ful_merged_df.to_csv("m_data_stat_table.csv",index= False)

----------

In [41]:
annot_df = pd.read_csv("../../raw_data/metadata_Annot.csv")

In [42]:
annot_ful_merged_df = pd.merge(annot_df,ful_merged_df, on = "MID")

In [43]:
annot_ful_merged_df.to_csv("m_annot_data_stat_table.csv",index=False)

------------

------------

# on all metabolites

In [1]:
import pandas as pd

In [2]:
m_ttest_df = pd.read_csv("python_pairwise_t_test/merged_ttest_padj_on_all.csv")
m_ttest_df[0:5]

,MID,ttest_pval_B6_TFHvsB6_TN,ttest_tscore__B6_TFHvsB6_TN,padj_lim_ttest_tscore__B6_TFHvsB6_TN,ttest_pval_TC_TFHvsB6_TFH,ttest_tscore__TC_TFHvsB6_TFH,padj_lim_ttest_tscore__TC_TFHvsB6_TFH,ttest_pval_TC_TFHvsTC_TN,ttest_tscore__TC_TFHvsTC_TN,padj_lim_ttest_tscore__TC_TFHvsTC_TN,ttest_pval_TC_TNvsB6_TN,ttest_tscore__TC_TNvsB6_TN,padj_lim_ttest_tscore__TC_TNvsB6_TN
0,MID_1,0.130211,1.648771,0.594748,0.514164,-0.679090,0.873783,0.473499,0.752166,0.916433,0.780556,-0.287073,0.932305
1,MID_2,0.000081,6.373784,0.006845,0.077395,-1.993213,0.595188,0.010973,3.293009,0.216477,0.085868,-1.928577,0.467041
2,MID_3,0.547808,0.622082,0.951627,0.238963,-1.261151,0.784170,0.568936,0.593982,0.916433,0.480649,-0.735695,0.748661
3,MID_4,0.008617,-3.257064,0.132386,0.823690,0.229395,0.938577,0.011217,-3.278246,0.216477,0.996630,0.004343,0.996893
4,MID_5,0.506764,-0.688552,0.945946,0.014100,3.036409,0.418042,0.017764,2.973949,0.240165,0.479104,-0.738364,0.748661

In [3]:
oneway_ftest_df = pd.read_csv("python_one_way_ANOVA/padj_on_all_ftest4_B6_TFHvsB6_TNvsTC_TFHvsTC_TN.txt", sep = "\t")
oneway_ftest_df[0:5]

     MID  ftest_pval  ftest_fscore  padj_lim_ftest_fscore
0  MID_1    0.352122      1.160543               0.629721
1  MID_2    0.000071     13.584777               0.002643
2  MID_3    0.522582      0.775905               0.772756
3  MID_4    0.002590      6.982106               0.040230
4  MID_5    0.048171      3.201244               0.262612

In [4]:
twoway_ftest_df = pd.read_csv("python_two way_ANOVA_interaction/padj_on_all_2wayAnova.csv")

In [5]:
twoway_ftest_df.columns

Index(['MID', 'B6.1.TFH_007', 'B6.2.TFH_008', 'B6.4.TFH_009', 'B6.6.TFH_010',
       'B6.7.TFH_011', 'B6.8.TFH_012', 'B6.1.TN_001', 'B6.2.TN_002',
       'B6.4.TN_003', 'B6.6.TN_004', 'B6.7.TN_005', 'B6.8.TN_006',
       'TC.1.TFH_018', 'TC.2.TFH_019', 'TC.3.TFH_020', 'TC.4.TFH_021',
       'TC.5.TFH_022', 'TC.1.TN_013', 'TC.2.TN_014', 'TC.3.TN_015',
       'TC.4.TN_016', 'TC.5.TN_017', 'pool.1', 'pool.2', 'X2wayAnova_pval',
       'padj_lim_X2wayAnova_pval'],
      dtype='object')

In [6]:
twoway_ftest_df.shape

(338, 27)

In [8]:
twoway_ftest_df.index = twoway_ftest_df['MID']

In [9]:
ful_merged_df = pd.merge(pd.merge(pd.merge(raw_data,m_ttest_df,on = "MID"),oneway_ftest_df, on = "MID"), twoway_ftest_df, left_on = "MID",right_index = True)

In [10]:
ful_merged_df.to_csv("padjall_m_data_stat_table.csv",index= False)

----------

In [11]:
annot_df = pd.read_csv("../X0_raw_data/metadata1_annotation.csv")

In [12]:
annot_ful_merged_df = pd.merge(annot_df,ful_merged_df, on = "MID")

In [13]:
annot_ful_merged_df.to_csv("padjall_m_annot_data_stat_table.csv",index=False)