In [1]:
import pandas as pd

In [2]:
df_mArray = pd.read_csv("input/res_Microarray_Tfh_TCvsB6_112719corrected.csv")
df_RNAseq = pd.read_csv("input/result_Tfh_B6vsTC_r2.csv")

In [3]:
df_RNAseq[0:5]

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,0610007P14Rik,665.911041,-0.270450,0.101289,-2.670081,0.007583,0.024167
1,0610009B22Rik,83.678137,-0.092928,0.238234,-0.390071,0.696484,0.806321
2,0610009E02Rik,1.534522,0.315491,1.521890,0.207302,0.835774,0.901817
3,0610009L18Rik,21.210880,-0.900779,0.409842,-2.197872,0.027958,0.071747
4,0610009O20Rik,766.396195,0.253376,0.078948,3.209404,0.001330,0.005451

In [4]:
df_mArray[0:5]

   Unnamed: 0     stat          padj  log2FC_TCvsB6
0    BC147527 -39.9151  3.700000e-08      -2.906320
1     Tceanc2 -27.4472  2.920000e-07      -1.266820
2       Ptpn5 -24.2886  3.520000e-07      -1.286300
3      Iglon5  15.4722  4.640000e-06       0.950549
4  Ppp1r2-ps2 -15.8075  6.390000e-06      -0.923041

In [5]:
df_mArray.columns = [df_mArray.columns[0]] + ["mArray_" + x for x in df_mArray.columns[1:]]
df_RNAseq.columns = [df_RNAseq.columns[0]] + ["RNAseq_" + x for x in df_RNAseq.columns[1:]]

In [6]:
merge_df = pd.merge(df_mArray,df_RNAseq, on = "Unnamed: 0", how = "inner")

In [7]:
merge_df.to_csv("input/merged_mArray_RNAseq.csv", index = False)