In [4]:
import pandas as pd

In [5]:
raw_df = pd.read_csv("../X2_log2transform/Jeff-featab_rmTfh5_log2_clean.csv")

In [7]:
raw_df.columns = ["metabolite"] + raw_df.columns[1:].tolist();raw_df[0:5]

,metabolite,II_SC_1_Tcells,II_SC_2_Tcells,II_SC_3_Tcells,II_SC_4_Tcells,II_SC_6_Tfhcells,II_SC_7_Tfhcells,II_SC_8_Tfhcells,II_SC_9_Th1cells,II_SC_10_Th1cells,II_SC_11_Th1cells,II_SC_12_Th1cells,II_SC_13_Th17cells,II_SC_14_Th17cells,II_SC_15_Th17cells,II_SC_16_Th17cells
0,Hypotaurine,21.351001,21.499492,21.393333,21.235683,21.291045,21.168247,21.221216,20.466707,20.717077,20.614874,20.533659,21.023483,21.019268,20.921813,20.926457
1,Taurine,30.845868,30.981490,30.743893,30.732476,30.657667,30.583823,30.606162,30.307721,30.572055,30.415305,30.338153,30.931592,30.934750,30.867738,30.901016
2,Glycerol_3-phosphate,25.017626,25.161503,25.208658,25.031007,24.386826,24.454650,24.577282,24.509804,24.844570,24.950536,24.850067,24.887832,25.179714,24.984191,25.022325
3,L-erythrulose,22.047345,21.965742,21.846909,21.961859,21.683994,22.153192,21.271786,21.379100,20.724603,20.118355,20.761125,19.359610,19.191332,18.859719,18.940066
4,L-threonate,27.569646,27.631332,27.461473,27.431546,27.903497,28.106822,27.739086,27.632106,27.302465,27.100084,27.174514,26.440775,26.435438,26.430759,26.471548

In [8]:
m_ttest_df = pd.read_csv("./python_pairwise_t_test/merged_ttest_padj_on_annot.csv")
m_ttest_df[0:5]

,metabolite,ttest_pval_TactvsTfh,ttest_tscore__TactvsTfh,padj_lim_ttest_tscore__TactvsTfh,ttest_pval_Th17vsTfh,ttest_tscore__Th17vsTfh,padj_lim_ttest_tscore__Th17vsTfh,ttest_pval_Th1vsTfh,ttest_tscore__Th1vsTfh,padj_lim_ttest_tscore__Th1vsTfh
0,Hypotaurine,0.100325,2.012502,0.240009,0.002329,-5.694771,0.005487,0.000263,-9.138163,0.003145
1,Taurine,0.031227,2.968059,0.102227,0.000097,11.251916,0.000418,0.034906,-2.872163,0.079564
2,Glycerol_3-phosphate,0.000340,8.653883,0.004072,0.001411,6.369358,0.003510,0.050068,2.569455,0.099186
3,L-erythrulose,0.300176,1.155295,0.496568,0.000145,-10.348731,0.000538,0.049734,-2.574981,0.099186
4,L-threonate,0.013240,-3.753947,0.057349,0.000015,-16.418299,0.000113,0.013737,-3.718273,0.042721

In [15]:
oneway_ftest_df = pd.read_csv("./python_one_way_ANOVA/padj_on_all_ftest4_TcellsvsTfhcellsvsTh1cellsvsTh17cells_clean.txt", sep = "\t")
oneway_ftest_df[0:5]

             metabolite    ftest_pval  ftest_fscore  padj_lim_ftest_fscore
0           Hypotaurine  4.940000e-07     58.098850               0.000002
1               Taurine  3.250000e-05     25.020255               0.000076
2  Glycerol_3-phosphate  3.587640e-04     14.753757               0.000685
3         L-erythrulose  8.300000e-07     52.507195               0.000003
4           L-threonate  4.360000e-07     59.534280               0.000002

In [19]:
temp = pd.merge(raw_df,m_ttest_df,on = "metabolite")
ful_merged_df = pd.merge(temp,oneway_ftest_df,on = "metabolite")

In [20]:
ful_merged_df.columns

Index(['metabolite', 'II_SC_1_Tcells', 'II_SC_2_Tcells', 'II_SC_3_Tcells',
       'II_SC_4_Tcells', 'II_SC_6_Tfhcells', 'II_SC_7_Tfhcells',
       'II_SC_8_Tfhcells', 'II_SC_9_Th1cells', 'II_SC_10_Th1cells',
       'II_SC_11_Th1cells', 'II_SC_12_Th1cells', 'II_SC_13_Th17cells',
       'II_SC_14_Th17cells', 'II_SC_15_Th17cells', 'II_SC_16_Th17cells',
       'ttest_pval_TactvsTfh', 'ttest_tscore__TactvsTfh',
       'padj_lim_ttest_tscore__TactvsTfh', 'ttest_pval_Th17vsTfh',
       'ttest_tscore__Th17vsTfh', 'padj_lim_ttest_tscore__Th17vsTfh',
       'ttest_pval_Th1vsTfh', 'ttest_tscore__Th1vsTfh',
       'padj_lim_ttest_tscore__Th1vsTfh', 'ftest_pval', 'ftest_fscore',
       'padj_lim_ftest_fscore'],
      dtype='object')

In [21]:
ful_merged_df.to_csv("m_data_stat_table.csv",index= False)

----------

In [45]:
#encoding='latin-1'
annot_df = pd.read_csv("../X1_Raw_data/annot_Jeff-SC1-16_20160404 Tfh metabolomics_clean.csv", encoding='latin-1')

In [46]:
annot_ful_merged_df = pd.merge(annot_df,ful_merged_df, on = "metabolite")

In [47]:
annot_ful_merged_df.to_csv("m_annot_data_stat_table.csv",index=False)

------------

------------

# on all metabolites

In [1]:
import pandas as pd

In [2]:
m_ttest_df = pd.read_csv("python_pairwise_t_test/merged_ttest_padj_on_all.csv")
m_ttest_df[0:5]

,MID,ttest_pval_B6_TFHvsB6_TN,ttest_tscore__B6_TFHvsB6_TN,padj_lim_ttest_tscore__B6_TFHvsB6_TN,ttest_pval_TC_TFHvsB6_TFH,ttest_tscore__TC_TFHvsB6_TFH,padj_lim_ttest_tscore__TC_TFHvsB6_TFH,ttest_pval_TC_TFHvsTC_TN,ttest_tscore__TC_TFHvsTC_TN,padj_lim_ttest_tscore__TC_TFHvsTC_TN,ttest_pval_TC_TNvsB6_TN,ttest_tscore__TC_TNvsB6_TN,padj_lim_ttest_tscore__TC_TNvsB6_TN
0,MID_1,0.130211,1.648771,0.594748,0.514164,-0.679090,0.873783,0.473499,0.752166,0.916433,0.780556,-0.287073,0.932305
1,MID_2,0.000081,6.373784,0.006845,0.077395,-1.993213,0.595188,0.010973,3.293009,0.216477,0.085868,-1.928577,0.467041
2,MID_3,0.547808,0.622082,0.951627,0.238963,-1.261151,0.784170,0.568936,0.593982,0.916433,0.480649,-0.735695,0.748661
3,MID_4,0.008617,-3.257064,0.132386,0.823690,0.229395,0.938577,0.011217,-3.278246,0.216477,0.996630,0.004343,0.996893
4,MID_5,0.506764,-0.688552,0.945946,0.014100,3.036409,0.418042,0.017764,2.973949,0.240165,0.479104,-0.738364,0.748661

In [3]:
oneway_ftest_df = pd.read_csv("python_one_way_ANOVA/padj_on_all_ftest4_B6_TFHvsB6_TNvsTC_TFHvsTC_TN.txt", sep = "\t")
oneway_ftest_df[0:5]

     MID  ftest_pval  ftest_fscore  padj_lim_ftest_fscore
0  MID_1    0.352122      1.160543               0.629721
1  MID_2    0.000071     13.584777               0.002643
2  MID_3    0.522582      0.775905               0.772756
3  MID_4    0.002590      6.982106               0.040230
4  MID_5    0.048171      3.201244               0.262612

In [4]:
twoway_ftest_df = pd.read_csv("python_two way_ANOVA_interaction/padj_on_all_2wayAnova.csv")

In [5]:
twoway_ftest_df.columns

Index(['MID', 'B6.1.TFH_007', 'B6.2.TFH_008', 'B6.4.TFH_009', 'B6.6.TFH_010',
       'B6.7.TFH_011', 'B6.8.TFH_012', 'B6.1.TN_001', 'B6.2.TN_002',
       'B6.4.TN_003', 'B6.6.TN_004', 'B6.7.TN_005', 'B6.8.TN_006',
       'TC.1.TFH_018', 'TC.2.TFH_019', 'TC.3.TFH_020', 'TC.4.TFH_021',
       'TC.5.TFH_022', 'TC.1.TN_013', 'TC.2.TN_014', 'TC.3.TN_015',
       'TC.4.TN_016', 'TC.5.TN_017', 'pool.1', 'pool.2', 'X2wayAnova_pval',
       'padj_lim_X2wayAnova_pval'],
      dtype='object')

In [6]:
twoway_ftest_df.shape

(338, 27)

In [8]:
twoway_ftest_df.index = twoway_ftest_df['MID']

In [9]:
ful_merged_df = pd.merge(pd.merge(pd.merge(raw_data,m_ttest_df,on = "MID"),oneway_ftest_df, on = "MID"), twoway_ftest_df, left_on = "MID",right_index = True)

In [10]:
ful_merged_df.to_csv("padjall_m_data_stat_table.csv",index= False)

----------

In [11]:
annot_df = pd.read_csv("../X0_raw_data/metadata1_annotation.csv")

In [12]:
annot_ful_merged_df = pd.merge(annot_df,ful_merged_df, on = "MID")

In [13]:
annot_ful_merged_df.to_csv("padjall_m_annot_data_stat_table.csv",index=False)